.headerContainer {
  height: 5rem;
  border-bottom: 1px solid var(--gray-800);
}

.headerContent {
  max-width: 1120px;
  height: 5rem;
  padding: 0 2rem;
  margin: 0 auto;

  display: flex;
  align-items: center;

  nav {
    height: 5rem;
    margin-left: 5rem;

    a {
      height: 5rem;
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      line-height: 5rem;
      color: var(--gray-300);
      cursor: pointer;

      transition: color 0.2s;

      &:hover {
        color: var(--white);
      }

      &.active {
        color: var(--white);
        font-weight: bold;
      }

      &.active::after {
        content: '';
        height: 3px;
        width: 100%;
        border-radius: 3px 3px 0 0;

        position: absolute;
        bottom: 1px;
        left: 0;

        background: var(--purple-300);
      }

      & + a {
        margin-left: 2rem;
      }
    }
  }

  button {
    margin-left: auto;
  }
}
